.profile__info_description {
    line-height: 21.78px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .profile__info_description {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
    }
    
}