.profile__info-button {
    max-width: 24px;
    height: 24px;
    margin-top: 15px;
    cursor: pointer;
}

.profile__info-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .profile__info-button {
        max-width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}   