.footer {
    color: #545454;
    line-height: 21.78px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 60px auto;
    max-width: 880px;
}

@media screen and (max-width: 530px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 16.94px;
    }
}    